@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headtext {
  letter-spacing: 1px;
  font-weight: 600 !important;
  padding-top: 10px;
}

.homepagebackground {
  background-color: lightpink;
  background-image: linear-gradient(pink, purple);
  height: 100vh;
  overflow: scroll;
  width: 100%;
}
.developerimage {
  max-width: 500px;
  height: 400px;
}
.aboutmebg {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.icon {
  font-size: 30px;
}

.socialmediabtn {
  background-color: transparent;
  border-radius: 15px;
  padding: 20px;
  border: none;
}

.socialmediabtn:hover {
  background-color: white;
}

.nav-link {
  color: white !important;
  font-size: 20px ;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  font-family: "Roboto Mono";
}

#root {
  font-family: "Roboto Mono";
}

.nav-link:hover {
  color: black !important;
}
@media only screen and (max-width: 767px) {
  .nav-link {
    font-size: 14px; /* Adjust the font size as needed */
  }
}
