@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie');

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headtext{
  letter-spacing: 1px;
  font-weight: 600 !important;
  padding-top: 10px;
}

.homepagebackground{
  background-color: lightpink;
  background-image:linear-gradient(pink,purple);
  height: 100vh;
  width: 100%;
}
.developerimage{
  max-width: 500px;
  height:400px
}
.aboutmebg{
  width: 100%;
  height: 100%;

  
  background-color: transparent;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.icon{
  font-size: 30px;
}

.socialmediabtn{
  background-color: transparent;
  border-radius: 15px;
  padding: 20px;
  border: none;
}

.socialmediabtn:hover{
  background-color: white;
}

.nav-link {
  color: white !important;
  font-size: 20px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  font-family: 'Roboto Mono';
}

#root{
  font-family: 'Roboto Mono';
}

.post-it ul{
  display: flex;
  flex-wrap: wrap;
}

.post-it{
  padding: 20px;
}

.post-it ul li {
  text-decoration:none;
  color:#000;
  display:block;

  max-height:5em;
  
  width:5em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  font-family: 'Reenie Beanie' !important;
  font-size: 2em;
  background:#ffc;
 
  }

  .post-it ul li:nth-child(even) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
    }
    
    .post-it ul li:nth-child(3n) {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
    
    }
    
    .post-it ul li:nth-child(5n) {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
    background:#ffc;
    }

    .post-it ul li:hover ,ul li:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
    }
  

    textarea{
      background-color: transparent;
    }

    .nav-link:hover{
     color: black !important;
    }